* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333333;
    height: 3rem;
    border-bottom: 1px solid black;
}

main {
    background-color: #141518;
    display: flex;
    flex-grow: 1;
}

section > h2 {
    color: white;
    text-align: center;
    margin: 1rem 0 1rem 0;
    width: 80%;
    border-bottom: 1px solid grey;
    padding-bottom: 0.25rem;
}

/* -------------------- TOOLS SECTION -------------------- */

.tools-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    width: 10rem;
}

.tool-menu {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.tool-menu > button {
    color: white;
    background: #707070;
    border: none;
    width: 4rem;
    height: 4rem;
}

.tool-menu > button:hover {
    background: #606060;
}

/* .tool-menu > button:active {
    background: #808080;
} */

.selected {
    outline: 2px solid white;
}

/* -------------------- CANVAS -------------------- */

.canvas-container {
    flex-grow: 1;
    position: relative;
}

canvas {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.canvas-bg {
    background-image: url("../images/canvasBG.PNG");
}

/* -------------------- SETTINGS SECTION -------------------- */

.settings-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    width: 10rem;
}

.settings {
    height: 10rem;
    width: 80%;
}

.settings p {
    margin-bottom: 0.25rem;
}

.settings > div {
    margin-bottom: 1rem;
}

#spriteSizeSelect {
    background-color: grey;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
}

#spriteSizeSelect:focus {
    outline: none;
}

input[type="color"] {
	border: none;
    border: 1px solid white;
	width: 32px;
	height: 32px;
} 
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

/* -------------------- FOOTER -------------------- */

footer {
    height: 10rem;
    background-color: #333333;
    border-top: 1px solid black;
}